/* Write your CSS here */
.ds-img {
  width: 100%;
  margin-top: 20px;
}
.ds-name {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .each-item-container {
    width: 200px;
    min-height: 270px;
    margin-right: 15px;
  }
  .ds-img {
    height: 150px;
  }
}
